<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>TODO LIST</h1>
    <h2>Today is <%= today %></h2>


    <form>
        <input type="text" id="item" name="item" placeholder="Thing to do">
        <!-- <input type="date" name="date"> -->
        <button type="button" id='submit-btn'>Submit</button>
    </form>
    
    <ul class="todo-list">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="todo-item">
            <% if(info[i].completed === true) {%>
                <span class="completed"><%= info[i].item %></span>
            <% }else{ %>
                <span><%= info[i].item %></span>
            <% } %>
            <span><%= info[i].date %></span>
            <button class="delete">Remove Item</button>
        </li>
    <% } %>
    </ul>


    
    
    <script src='js/main.js'></script>
</body>
</html>