/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
/******************************************
/* LAYOUT
/*******************************************/

.completed{
  text-decoration: line-through;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
display: none;
}